@{
    ViewData["Title"] = "Home Page";
}
@{
	ChatAppContext db = new ChatAppContext();
	 var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
     var target_user = db.AspNetUsers.Where(x => x.Id == userId).FirstOrDefault();
}
@model List<Message>
<div>
	
	<input type="hidden" id="txtuser" value="@target_user.UserName" />
	<br/>

	
</div>

<div>
	<h2>LIST OF MESSAGES :</h2>
	<ul id="list">
		@if(Model.Count>0){
			@foreach(var item in Model){
			<li>@item.Name : @item.Message1</li>
			<br/><hr/>
		
		}
		}
		
	</ul>
	<h3>ENTER YOUR MESSAGE</h3>
	<textarea id="txtmessage"></textarea>
	<button id="btnsend">SEND MESSAGE</button>
	<a href="/Home/History">HISTORY</a>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/site.js"></script>*@
@*  <script src="~/js/site.js" asp-append-version="true"></script>*@